@import "../../../assets/styles/variables";

.component-wrap{
  padding: 20px;
}
.list-wrap{
  width: 100%;
  border: 1px solid $color_3;
  @include border-radius(5px);
  padding: 10px;
  background: $color_2;
}
.user-item{
  cursor: pointer;
  transition: $trans;
  @include border-radius(3px);
  justify-content: flex-start;
  align-items: center;
  display: flex;
  padding: 5px;
  &:hover{
    background: $color_5;
    .img-wrap{
      border-color: $color_2;
    }
    .user-name{
      color: $color_2;
    }
  }
}
.img-wrap{
  width: 50px;
  height: 50px;
  @include border-radius(50%);
  border: 3px solid transparent;
  transition: $trans;
  overflow: hidden;
  margin-right: 20px;
  img{
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: inherit;
    object-fit: cover;
  }
}
.user-name{
  transition: $trans;
  font-weight: bold;
  font-size: 20px;
}

.back-btn{
  border: 0;
  color: $color_4;
  background: $color_5;
  position: fixed;
  left: 0;
  top: 0;
  width: 100px;
  text-align: center;
  height: 100%;
  transition: $trans;
  font-size: 20px;
  &:hover{
    background: #858585;
  }
}
