@import '~@angular/material/prebuilt-themes/indigo-pink.css';

* {
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-family: 'Noto Sans Japanese', 'Noto Sans', sans-serif;
  color: #212121;
  -webkit-font-smoothing: antialiased;
}

a,
a:hover,
a:visited {
  text-decoration: none;
  color: inherit;
}

input,
button,
textarea,
input:focus,
button:focus,
textarea:focus {
  font-family: inherit;
  border: none;
  outline: none;
}

button {
  padding: 0;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
